<table>
    <thead>
        <tr>
            <th *ngFor="let column of columnRecord.get()" draggable="true" tabindex="-1" [ngClass]="column.width"
                (dragstart)="columnDragStartHandler($event, column)"
                (dragenter)="columnDragEnterHandler($event, column)" (dragover)="columnDragOverHandler($event, column)"
                (drop)="columnDropHandler($event, column)">
                <div class="overflow-ellipsis">{{column.key}}</div>
                <div class="column-head-contextmenu">
                    <div (click)="column.toggle()">Toggle column</div>
                    <select #columnWidthSelect (change)="columnWidthSelectChangeHandler(columnWidthSelect, column)">
                        <option>width--auto</option>
                        <option>width--fit-head</option>
                        <option>width--fit-body</option>
                        <option>width--fit-all</option>
                    </select>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let line of table.lines">
            <td *ngFor="let column of columnRecord.get()" class="overflow-ellipsis" [ngClass]="column.width">
                {{line[column.key]}}
            </td>
        </tr>
    </tbody>
</table>