table {
    white-space: nowrap;
    width      : 100%;
}

thead {
    position   : sticky;
    top        : 0;
    user-select: none;
}

th {
    background-color: white;
    position        : relative;
}

th:hover {
    box-shadow: var(--box-shadow-0);
}

th .contextmenu {
    background-color: white;
    position        : absolute;
}

th:not(:focus-within) .contextmenu {
    display: none;
}

th,
td {
    overflow-x   : hidden;
    text-overflow: ellipsis;
    max-width    : 0;
}

th.fit-head,
th.fit-all,
td.fit-body,
td.fit-all {
    min-width: fit-content;
}

td:not(.auto) {
    width: 0;
}