<table>
    <thead>
        <tr>
            <th *ngFor="let column of columnRecord.get()" (click)="column.toggle()" draggable="true"
                (dragstart)="columnDragStartHandler($event, column)"
                (dragenter)="columnDragEnterHandler($event, column)" (dragover)="columnDragOverHandler($event, column)"
                (drop)="columnDropHandler($event, column)">
                {{column.key}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let line of table.lines">
            <td *ngFor="let column of columnRecord.get()">
                {{line[column.key]}}
            </td>
        </tr>
    </tbody>
</table>