table {
    width: 100%;
}

thead {
    background-color: white;
    position        : sticky;
    top             : 0;
    user-select     : none;
}

td {
    max-width    : 0;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}