table {
    white-space: nowrap;
    width      : 100%;
}

thead {
    position   : sticky;
    top        : 0;
    user-select: none;
}

th {
    background-color: white;
    position        : relative;
}

th:hover {
    box-shadow: var(--box-shadow-0);
}

th .contextmenu {
    background-color: white;
    box-shadow      : var(--box-shadow-1);
    display         : flex;
    flex-direction  : column;
    padding         : .4em;
    position        : absolute;
}

th:not(:focus-within) .contextmenu {
    display: none;
}

th,
td {
    overflow-x   : hidden;
    text-overflow: ellipsis;
    max-width    : 0;
}

th.width-fit-head,
th.width-fit-all,
td.width-fit-body,
td.width-fit-all {
    min-width: fit-content;
}

td:not(.width-auto) {
    width: 0;
}