footer {
    background-color: #0c0c0d;
    bottom          : 0;
    color           : #b1b1b3;
    display         : flex;
    position        : fixed;
    width           : 100%;
}

button {
    background: inherit;
    color     : inherit;
    cursor    : pointer;
    margin    : 0 .4em;
    padding   : .2em .4em;
}

button.active,
button:hover {
    background-color: #353b48;
}