ul {
    background-color: white;
    bottom          : 0;
    box-shadow      : var(--box-shadow-1);
    margin          : .4em;
    position        : fixed;
    right           : 0;
}

ul,
li {
    padding: .4em;
}

li {
    list-style     : none;
    text-decoration: line-through;
    user-select    : none;
}

li:hover {
    box-shadow: var(--box-shadow-0);
}