:host {
    background-color: #0c0c0d;
    box-shadow      : var(--box-shadow-0);
    color           : #b1b1b3;
    left            : 50%;
    position        : fixed;
    top             : 0;
    transform       : translateX(-50%);
    z-index         : 1;
}

table,
td {
    padding: .4em;
}

tr {
    cursor     : pointer;
    user-select: none;
}

tr.checked {
    font-weight: bold;
}

tr:not(:hover) {
    opacity: .7;
}

input[type=checkbox]:disabled {
    pointer-events: none;
}