:host {
    display    : table-header-group;
    position   : sticky;
    top        : 0;
    user-select: none;
}

th {
    background-color: white;
}

th:hover {
    box-shadow: var(--box-shadow-0);
}