:root {
    --box-shadow-inset-border: 0 0 0 .1vmin rgb(0 0 0 / 20%) inset;
    --box-shadow-0           : 0 0 .4em .2em rgb(0 0 0 / 20%);
}

*,
::before,
::after {
    border-radius: 0;
    box-sizing   : border-box;
    margin       : 0;
    padding      : 0;
}

.overflow-ellipsis {
    overflow     : hidden;
    text-overflow: ellipsis;
}

html,
body {
    height: 100%;
    width : 100%;
}

body {
    font-family: Montserrat, Helvetica, Arial, Lucida, sans-serif;
}